# my-app
[Unit]
Description=Monitoring container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/mountpoint -q /mnt/logs
ExecStart=/usr/bin/docker start -a my-app
ExecStop=/usr/bin/docker stop -t 10 my-app
Restart=on-failure
RestartSec=3
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
